.column-grid {
    display: grid;
    grid-template-columns: 50px 1fr 1fr 1fr 1fr 50px;
    height: 100vh;
    position: relative;
}
.grid-item-container-blog {
    position: absolute;
    top: 50%;
}
.grid-item-container-